# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific folders
.vs/
.vscode/
_ReSharper.Caches/

# Build results and intermediate files
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
bin/
obj/
bin/Debug/net8.0

# Logs
*.log

# IDE-specific
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.old

# Merge conflict files
*.orig
*.rej


